@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.slic-slider {
  @apply bg-white shadow-sm;
}

.bgImageWithOpacity {
  position: relative;
  z-index: 1;
}

.bgImageWithOpacity::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Start with a transparent version of #13131a and fade into the solid #13131a */
  background-image: linear-gradient(rgba(19, 19, 26, 0.6), rgba(19, 19, 26, 0.8) 50%, rgba(19, 19, 26, 1)), url('https://images.pexels.com/photos/3277188/pexels-photo-3277188.jpeg?cs=srgb&dl=pexels-tom%C3%A1s-sanimbo-3277188.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
}



